<div class="container-fluid d-flex ion-justify-content-center h-100">
  <div class="row" style="flex: 1 0 auto">
    <div class="m-auto card-dimensions">
      <mat-card class="mat-elevation-z0 ion-text-center h-100 pt-5 pb-5">
        <img width="240px" src="../../../assets/brand-logo.png" alt="Easy Doc Logo">
        <mat-card-content>
          <form [formGroup]="loginForm" class="single-line-container content-padding" (ngSubmit)="login()">
            <mat-form-field>
              <input matInput placeholder="Email" type="email" required formControlName="username">
              <mat-error *ngIf="loginForm.get('username').hasError('email') && !loginForm.get('username').hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginForm.get('username').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required formControlName="password">
              <mat-error *ngIf="loginForm.get('password').hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <button mat-raised-button class="mt-4" type="submit" color="primary">Login</button>
            <p style="font-size: 14px" class="mt-2">
              Don't have an account? <a [routerLink]="['/register']">Sign up</a>
            </p>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
